<% content_for :title, "New Job" %>

<div class="container py-4 py-lg-5">
  <div class="mb-4">
    <%= link_to "Back to Jobs", jobs_path, class: "btn btn-outline-secondary btn-sm" %>
  </div>

  <h1 class="h2 fw-semibold mb-4">New Job</h1>

  <div class="row justify-content-center mb-2">
    <div class="col-12 col-lg-9 col-xl-8">
      <%= render "form", job: @job %>
    </div>
  </div>
</div>
